@import "./../../Sass/Variables.scss";
@import "./../../Sass/Mixin.scss";

.headerfix{
    padding: 2rem 0 2rem;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(0, 0, 0, 0.6);
    z-index: 91;
    box-shadow: none;
    position: fixed;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 900px){
        padding: 0 2rem;
    }
    &__menu{
        display: flex;
        align-items: center;
        gap: 3rem;
        @media (max-width: 600px){
            gap: 1rem;
        }
        &__logo{
            img{
                width: 4.4rem;
                height: auto;
            }
        }
        
    }
    &__end{
        display: flex;
        align-items: center;
        gap: 2rem;
        @media (max-width: 400px){
            gap: .5rem;
        }
        &__search{
            position: relative;
            input {
                width: 25rem;
                height: 3rem;
                outline: none;
                padding-right: 3rem;
                border-radius: 1.5rem;
                padding-left: 2rem;
                @media (max-width: 900px){
                    width: 29rem;
                }
                @media (max-width: 600px){
                    width: 25rem;
                }
                @media (max-width: 440px){
                    width: 20rem;
                }
                @media (max-width: 380px){
                    width: 17rem;
                }
            }
            &__icon {
                position: absolute;
                right: .7rem;
                top: .7rem;
                @include btn;
                background: inherit;
            }
        }
        &__icon {
            color: var(--bs-white);
            // position: absolute;
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1.7rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            @media (max-width: 900px) {
                // display: none;
            }
            span{
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: red;
            }
        }

    }
}
.burger{
    display: none;
    color: white;
    
    cursor: pointer;
    @media (max-width: 900px){
        display: block;
    }
}