@import "./../../Sass/Variables.scss";
@import "./../../Sass/Variables.scss";

.menu{
    &__list{
        display: flex;
        gap:2rem;
        align-items: center;
        position: relative;
        @media (max-width: 900px) {
            display: none;
        }
        &__open {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 155%;
            left: 0;
            background-color: var(--bs-dark);
            width: 100%;
            padding: 1rem;
            gap: 1rem;
            z-index: 100;
            transition: all .5s;
        }
        
        li{
            a{
                font-size: 1.8rem;
                padding: .5rem;
                color: var(--bs-white);
                transition: all .3s;
                
                &:hover{
                    background-color: var(--bs-gray);
                    border-radius: 2rem;
                }
            }
        }
    }
    &__close{
        position: absolute;
        z-index: 15;
        right: 3.5rem;
        color: var(--bs-white);
        font-size: 2.4rem;
        @media (min-width: 900px) {
            display: none;
        }

    }
}