:root {
    --bs-blue: #0c4dde;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-gray: #6c757d;
    --bs-gray50: #7F7F7F;
    --bs-gray-light: #dee2e6;;
    --bs-gray-dark: #2c2c2c;
    --bs-light: #f8f9fa;
    --bs-dark: #262626;
    --bs-border-color: #eaeaea;
    --bs-text: rgba(0,0,0,.7);
    --bs-watchlist:#5199EF;
    --bs-gold:gold;
    --bs-item-bg: #1A1A1A;
}
.light-theme{
    
}
.dark-theme{
    --bs-gray50: #FFFFFF;
    --bs-border-color:rgba(255,255,255,.2);
    --bs-light: var(--bs-dark);
    --bs-black: var(--bs-white);
    --bs-blue: #FFFFFF;
    --bs-text: #FFFFFF;
}