@import "./../../Sass/Variables.scss";
@import "./../../Sass/Mixin.scss";

.movies{
    padding-top: 10rem;
    &__heading{
        color: var(--bs-white);
        margin-bottom: 2rem;
    }
    @media (max-width:900px){
        text-align: center;
    }
    &__item{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
}